<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a><b>Admin </b>DH</a>
    </div>

    <div class="login-box-body">
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
        <!-- <input type="email" class="form-control" placeholder="Email"> -->
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>
        <!-- <input type="password" class="form-control" placeholder="Password"> -->
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me, class: "checkbox icheck" %>
          <%= f.label :remember_me %>
          <% end -%>
        </div>

        <div class="col-xs-4">
          <%= f.submit "Sign In", class: "btn btn-primary btn-block btn-flat" %>
          <!-- <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button> -->
        </div>

      </div>

      <% end %>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
      </div>

      <a href="#">I forgot my password</a><br>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <a><%= link_to "Register a new membership", new_user_registration_path, class: "text-center" %></a><br />
        <% end -%>
        <!-- <a href="register.html" class="text-center">Register a new membership</a> -->

      </div>

    </div>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' /* optional */
        });
      });
    </script>
  </body>
